{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block main_content %}
      <!-- Three columns of text below the carousel -->
      <div class="row">

        <div class="col-lg-4  mb-4">
          <div class="card">
            <div class="card-body">
              <img class="rounded-circle" src="{% static "icon/preprocess.png" %}" alt="Generic placeholder image" width="60" height="60" style="background-color: #FAFAFA" />

              <h3 class="card-title">Create Summary Statistics</h3>

              <p>Upload a data file and generate a metadata file containing summary statistics.</p>

              <a class="btn btn-sm btn-primary" href="{% url 'view_basic_upload_form' %}" role="button">Run Preprocess</a>

              <a class="btn btn-sm btn-primary" style="margin-top: 5px" href="{% url 'view_dataverse_file_form' %}" role="button">Dataverse Preprocess</a>
            </div>
          </div>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4  mb-4">
          <div class="card">
            <div class="card-body">
                <img class="rounded-circle" src="{% static "icon/edit.png" %}" alt="Generic placeholder image" width="60" height="60"style="background-color: #FAFAFA">

              <h3 class="card-title">Metadata List</h3>

              <p>List all of the summary statistic files, including
                those in process.</p>

              <a class="btn btn-sm btn-primary" href="{% url 'view_job_list' %}" role="button">View List</a>
            </div>
          </div>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4 mb-4">
          <div class="card">
            <div class="card-body">
              <img class="rounded-circle" src="{% static "icon/preprocess.png" %}" alt="Generic placeholder image" width="60" height="60" style="background-color: #FAFAFA" />

              <h3 class="card-title">Dataverse Summary Statistics</h3>

              <p>Use a <a href="http://dataverse.harvard.edu" target="_blank">Dataverse</a>
                 link to generate a metadata file containing summary statistics.</p>

              <a class="btn btn-sm btn-primary" href="{% url 'view_dataverse_file_form' %}" role="button">Dataverse Preprocess</a>
            </div>
          </div>
        </div><!-- /.col-lg-4 -->
      </div><!-- end row -->

      <!-- start row -->
      <div class="row">

        <div class="col-lg-4  mb-4">
          <div class="card">
            <div class="card-body">

              <img class="rounded-circle" src="{% static "icon/edit.png" %}" alt="Generic placeholder image" width="60" height="60"style="background-color: #FAFAFA">

              <h3 class="card-title">Custom Statistics</h3>

              <p>Go to the custom statistic page.  <p><a class="btn btn-primary" href="{% url 'view_form_custom_statistics' %}" role="button">Custom Statistics</a></p>
            </div>
          </div>
        </div><!-- /.col-lg-4 -->


        <div class="col-lg-4 mb-4">
          <div class="card">
            <div class="card-body">

              <img class="rounded-circle" src="{% static "icon/info.png" %}" alt="Generic placeholder image" width="60" height="60"style="background-color: #FAFAFA">

              <h3 class="card-title">Retrieve Data</h3>

              <p> Retrieve data rows from the source file<p>

              <a class="btn btn-sm btn-primary" href="{% url 'view_form_retrieve_rows' %}" role="button">Check Data</a>

            </div>
          </div>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4 mb-4">
            <div class="card">
              <div class="card-body">

                <img class="rounded-circle" src="{% static "icon/edit.png" %}" alt="Generic placeholder image" width="60" height="60"style="background-color: #FAFAFA">

                <h3 class="card-title">Metadata Editor</h3>

                <p>The Metadta Editor allows a user to view/edit the metadata file,
                  completing tasks such as updating labels, adding summary
                  statistics, and setting views for other users.</p>

                <a class="btn btn-sm btn-primary" href="#" role="button">Check Editor</a>

              </div>
            </div>
          </div><!-- /.col-lg-4 -->


      </div><!-- /.row -->

      <!-- start: row -->
      <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card">
              <div class="card-body">

              <span class="oi oi-list oi-lg"></span>

                <h3 class="card-title">Other Links</h3>

                <ul>
                  <li><a href="{% url 'view_latest_metadata_schema' %}?pretty">metadata schema (latest)</a>
                  <li><a href="{% url 'view_latest_dataset_schema' %}?pretty">dataset schema (latest)</a>
                    <li><a href="{% url 'view_variable_definitions' %}">variable defns (latest, .rst)</a>
                </ul>


              </div>
            </div>
          </div><!-- /.col-lg-4 -->

      </div><!-- end: row -->
{% endblock %}
