{%  extends "base.html" %}
{% load static %}
{% load humanize %}
{% block main_content %}

<h4 class="pb-2 mb-0" style="text-align: center">Summary Statistic Metadata</h4>
    <hr>

    <div class="container">
    <table class="table table-hover">
    <thead class="thead-dark text-center">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Preprocess<br />ID</th>
      {#<th scope="col">Status</th>#}
      <th scope="col">Created</th>
      <th scope="col">Size<br />(bytes)</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
    <tbody>

  {% for r in jobs %}
    <tr>
      <td scope="row">({{forloop.counter}})</td>
      <td scope="row">
        {% if r.dv_info %}
          <img src="{% static "images/dataverse-icon.jpg" %}" alt="Dataverse Icon" width="20" height="30" />
        {% endif %}
        {{r.name}}
      </td>
      <td class="text-center">{{r.pk}}</td>
      {#<td>{{r.state }}</td>#}
      <td>{{r.created }}</td>
      {% if r.metadata_file %}
      <td>{{ r.metadata_file.size|filesizeformat }}</td>
      <td class="text-center">
        {% with metadata_obj=r %}
          {% include "preprocess/action_buttons.html" %}
        {% endwith %}

      </td>
      {% else %}
      <td>&#150; &#150;</td>
      <td class="text-center">
          {% if r.is_finished %}
            <!-- preprocess failed -->
            <span class="badge badge-danger">{{ r.state }}</span>
            {% if r.user_message %}
              <p class="text-left">{{ r.user_message }}</p>
            {% endif %}

          {% else %}
            <span class="badge badge-success">{{ r.state }}</span>
          {% endif %}
      </td>
      {% endif %}
    </tr>

  {% empty %}
    <tr>
      <td colspan="7">There are no preprocess jobs in the system.</td>
    </tr>
  {% endfor %}
    </tbody>
</table>
    </div>
    <hr>

{% endblock %}
