{%  extends "base.html" %}
{% load static %}
{% block main_content %}
{% if iterable %}


<div class="card">
  <h5 class="card-header">Metadata file details:   <span class="badge badge-primary">{{ preprocess_job.id }}</h5>

  <div class="card-body">
    <table class="table table-condensed">
      <tr>
        <th>id / name</th>
        <td>{{ preprocess_job.id }}
            &nbsp;/&nbsp; {{ preprocess_job.name }}</td>
      </tr>
      {% if dv_info %}
      <tr>
        <th>Dataverse File <img src="{% static "images/dataverse-icon.jpg" %}" alt="Dataverse Icon" width="20" height="30" /></th>
        <td>
          {% if dv_info.get_file_page_url %}
          <b>source:</b> <a href="{{ dv_info.get_file_page_url }}" target="_blank">{{ dv_info.get_file_page_url }}</a>
        {% endif %}

          {% if dv_info.jsonld_citation.name %}
            <br /><b>dataset name:</b> {{ dv_info.jsonld_citation.name|safe }}


            <br />&gt; <a data-toggle="collapse" href="#dvDescription" role="button" aria-expanded="false" aria-controls="dvDescription">
                Show Description</a>
          {% endif %}
          <div class="collapse" id="dvDescription">
              <b>doi:</b> {{ dv_info.dataset_doi }}
              {% if dv_info.jsonld_citation.citation.0 %}
                <p>{{ dv_info.jsonld_citation.citation.0|safe }}</p>
              {% elif dv_info.jsonld_citation.description %}
                <p>{{ dv_info.jsonld_citation.description|safe }}

                </p>

              {% else %}
                <p>doi: {{ dv_info.dataset_doi }}</p>
              {% endif %}
          </div>

        </td>
      </tr>
      {% endif %}
      <tr>
        <th>source File (size)</th>
        <td>{{ preprocess_job.source_filename }} &nbsp; ({{ preprocess_job.get_source_filesize|filesizeformat }})

          &nbsp; &nbsp; &gt; <a href="{% url 'view_form_retrieve_rows' %}?preprocessId={{ preprocess_job.id }}">Retrieve Rows</a>
        </td>
      </tr>
    </table>
  </div>
</div>

<br>
<table class="table table-hover">
   <thead class="thead-dark">
      <tr>
         <th scope="col">Name</th>
         <th scope="col">Version</th>
         <th scope="col">Created</th>
         <th scope="col">Size</th>
         <th scope="col text-center">Action</th>
      </tr>
   </thead>
   <tbody>
      {% for obj in jobs %}
      <tr>
         <td scope="row">{{obj.name}}</td>
         <td>{{obj.get_version_string}}</td>
         <td>{{obj.created }}</td>
         {% if obj.get_metadata_filesize %}
         <td>{{ obj.get_metadata_filesize|filesizeformat }}</td>
         <td>
           {% with metadata_obj=obj %}
              {% if forloop.first %}
                {% include "preprocess/action_buttons.html" %}
              {% else %}
                {% with HIDE_EDITOR_BUTTON=True %}
                  {% include "preprocess/action_buttons.html" %}
                {% endwith %}
              {% endif %}
            {% endwith %}

         </td>
         {% else %}
         <td>
            {% if r.user_message %}
              <p class="text-left">{{ r.user_message }}</p>
            {% else %}
              &#150; &#150;
            {% endif %}

         </td>
         {% endif %}
      </tr>
      {% endfor %}
      {% if orig_preprocess_job %}
      <tr style="background-color: #d3d9df">
         <td scope="row">{{orig_preprocess_job.name}}</td>
         <td>{{orig_preprocess_job.get_version_string}}</td>
         <td>{{orig_preprocess_job.created }}</td>
         <td>{{ orig_preprocess_job.metadata_file.size }}</td>
         <td><a href="{% url 'show_job_info' preprocess_id%}" class="btn btn-info">View</a>
            <a href="{% url 'api_download_version' preprocess_id '1' %}" class="btn btn-info">Download</a>


         </td>
      </tr>
      {% endif %}
   </tbody>
</table>

{% else %}
<div id="accordion" style="text-align: center; margin-left:10%; height: 100% ">
   <div class="card" style="text-align: center; height: 100%">
      <div class="card-header" id="headingOne">
         <h5 class="mb-0">
            <button style="width: 100%" class="btn btn-info" type="button" data-toggle="collapse" data-target="#one" aria-expanded="true" aria-controls="one">
               <h5 class="border-bottom border-gray pb-2 mb-0" style="text-align: center">{{ jobs.name }}</h5>
            </button>
         </h5>
      </div>
      <div id="one" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion" style="height: 100%">
         <div class="card-body" style="text-align: left">
            <a href="{% url 'api_download_latest_metadata' preprocess_id %}" class="btn btn-info">Download</a>
            <hr>
            <h6 class="border-bottom border-gray pb-2 mb-0"> Data</h6>
            {{ jobs.get_metadata_as_json }}
         </div>
      </div>
   </div>
</div>
</div>
{% endif %}
{% endblock %}
