{%  extends "base.html" %}
{% block main_content %}
{% if iterable %}
<h4 class="border-bottom border-gray pb-2 mb-0" style="text-align: center">{{ name.name }}</h4>
    <a class="btn btn-info" href="{%  url 'view_job_list' %}" style="float: left">Back</a>
<br>
<br>
<table class="table table-hover">
   <thead class="thead-dark">
      <tr>
         <th scope="col">Name</th>
         <th scope="col">Version</th>
         <th scope="col">Created</th>
         <th scope="col">Size</th>
         <th scope="col">Handle</th>
      </tr>
   </thead>
   <tbody>
      {% for obj in jobs %}
      <tr>
         <td scope="row">{{obj.name}}</td>
         <td>{{obj.get_version_string}}</td>
         <td>{{obj.created }}</td>
         {% if obj.get_metadata_filesize %}
         <td>{{ obj.get_metadata_filesize|filesizeformat }}</td>
         <td><a href="{% url 'api_get_metadata_version' preprocess_id=preprocess_id  version=obj.get_version_string %}?pretty" class="btn btn-info">View</a>
            <a href="{% url 'api_download_version' preprocess_id=preprocess_id  version=obj.get_version_string %}" class="btn btn-info">Download</a>
         </td>
         {% else %}
         <td>
            {% if r.user_message %}
              <p class="text-left">{{ r.user_message }}</p>
            {% else %}
              &#150; &#150
            {% endif %}

         </td>
         {% endif %}
      </tr>
      {% endfor %}
      {% if orig_preprocess_job %}
      <tr style="background-color: #d3d9df">
         <td scope="row">{{orig_preprocess_job.name}}</td>
         <td>{{orig_preprocess_job.get_version_string}}</td>
         <td>{{orig_preprocess_job.created }}</td>
         <td>{{ orig_preprocess_job.metadata_file.size }}</td>
         <td><a href="{% url 'show_job_info' preprocess_id%}" class="btn btn-info">View</a>
            <a href="{% url 'api_download_version' preprocess_id '1' %}" class="btn btn-info">Download</a>


         </td>
      </tr>
      {% endif %}
   </tbody>
</table>

{% else %}
<div id="accordion" style="text-align: center; margin-left:10%; height: 100% ">
   <div class="card" style="text-align: center; height: 100%">
      <div class="card-header" id="headingOne">
         <h5 class="mb-0">
            <button style="width: 100%" class="btn btn-info" type="button" data-toggle="collapse" data-target="#one" aria-expanded="true" aria-controls="one">
               <h5 class="border-bottom border-gray pb-2 mb-0" style="text-align: center">{{ jobs.name }}</h5>
            </button>
         </h5>
      </div>
      <div id="one" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion" style="height: 100%">
         <div class="card-body" style="text-align: left">
            <a href="{% url 'api_download_latest_metadata' preprocess_id %}" class="btn btn-info">Download</a>
            <hr>
            <h6 class="border-bottom border-gray pb-2 mb-0"> Data</h6>
            {{ jobs.get_metadata_as_json }}
         </div>
      </div>
   </div>
</div>
</div>
{% endif %}
{% endblock %}
