{% extends "base.html" %}

{% block main_content %}

  <div class="row">
    <div class="col-lg-4  mb-4">
       <div class="card">
         <h5 class="card-header">Retrieve Source Data Rows</h5>
          <div class="card-body">
            <form action="{% url 'view_form_retrieve_rows' %}" method="post" novalidate>
            <table class="table table-condensed">
              {% csrf_token %}
              {{ form }}
              <tr>
                <td colspan="2" class="text-right"><button type="submit">Submit</button></a>
          </table>
          </form>
          </div>
       </div>
    </div>
  </div>

{% endblock %}
