{% extends "base.html" %}

{% block main_content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
        <h5>Retrieve source data</h5>

        <p>Retrieve source data in either JSON or .csv format.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-4  mb-4">
       <div class="card">
         <h5 class="card-header">View Source Data (<i>retrieve rows</i>)</h5>
          <div class="card-body">
            <form action="{% url 'view_form_retrieve_rows' %}" method="post" novalidate>
              {% csrf_token %}

                <div class="form-group">
                  {{ form.as_p }}
                  <button type="submit">Submit</button>
                </div>
              </form>
          </div>
       </div>
    </div>
  </div>
</div>
{% endblock %}
