{% extends "base.html" %}

{% block main_content %}
<div class="container">

  <div class="row">
    <div class="col">
      <h3>{{ title }}</h3>

        <form action="{% url 'view_basic_upload_form' %}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
          {% csrf_token %}
          <table class="table">
           {{ form }}
           <tr>
             <th>&nbsp;<th>
             <td><input class="btn btn-primary btn-sm" type="submit" value="submit"/></td>
            </tr>
         </table>

        </form>
    </div>
  </div>
</div>
{% endblock %}
