{% extends "base.html" %}

{% block main_content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
        <h5>{{ title }}</h5>

        <p>Enter a Datafile url or file id:</p>
    </div>
  </div>

  <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <h5 class="card-header">by Datafile Url</h5>
            <div class="card-body">
                <p>Please enter a Dataverse file url.  Examples:</p>
                <ul>
                  <li>https://dataverse.harvard.edu/file.xhtml?fileId=3085004</li>
                  <li>https://dataverse.harvard.edu/api/access/datafile/3085004</li>
                </ul>

              <form action="{% url 'view_dataverse_file_form' %}" method="post">
                {% csrf_token %}
                  <table class="table">
                    {% if form_by_url_err_msg %}
                      <tr>
                        <td colspan="2">{{ form_by_url_err_msg }}</td>
                      </tr>
                    {% endif %}
                   {{ form_by_url }}
                    <tr>
                        <td colspan="2" class="text-right">
                           <input class="btn btn-primary btn-sm"  type="submit" value="submit"/>
                         </td>
                    </tr>
                  </table>
              </form>
            </div><!-- end: card body -->
          </div><!-- end: card -->
        </div><!-- end: column -->

        <div class="col-sm-6">
          <div class="card">
            <h5 class="card-header">by Dataverse and File Id</h5>
            <div class="card-body">
              <p>Please choose a Dataverse and enter a Datafle Id</p>

              <form action="{% url 'view_dataverse_file_form' %}" method="post">
                {% csrf_token %}
                  <table class="table">
                   {{ form_by_id }}
                    <tr>
                      <td colspan="2" class="text-right">
                          <input class="btn btn-primary btn-sm"  type="submit" value="submit"/>
                     </td>
                    </tr>
                 </table>
              </form>
              </div><!-- end: card body -->
            </div><!-- end: card -->
          </div><!-- end: column -->

  </div>
</div>


{% endblock %}
