{% extends "base.html" %}

{% block extra_header %}
<style>
label{
  font-weight: bold;
}
</style>
{% endblock %}

{% block main_content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
        <h5>{{ title }}</h5>

        <p>Enter a Datafile url or file id:</p>
        {% if not active_dvs %}
        <div class="alert alert-danger" role="alert">
            Sorry, there are no registered Dataverses.
            Please give this message to your system administrator.
        </div>
        {% endif %}
    </div>
  </div>

  <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <h5 class="card-header">by Datafile Url</h5>
            <div class="card-body">
                <p>Please enter a Dataverse file url.  Examples:</p>
                <ul>
                  <li>https://dataverse.harvard.edu/file.xhtml?fileId=3085004</li>
                  <li>https://dataverse.harvard.edu/api/access/datafile/3085004</li>
                </ul>

                  {% if PRESS_SCRIPTLET_SUBMIT %}
                  <div class="alert alert-success" role="alert">
                      Press "submit" to process the Dataverse file!
                      <span class="oi oi-arrow-circle-bottom"></span>
                  </div>
                  {% endif %}
              {% if active_dvs %}
              <form action="{% url 'view_dataverse_file_form' %}" method="post">
                {% csrf_token %}

                <hr />
                {% if form_by_url_err_msg %}
                    {{ form_by_url_err_msg }}
                {% endif %}

                <div class="form-group">
                    {{ form_by_url.as_p }}
                </div>

                <div class="text-right">
                  <input class="btn btn-primary btn-sm"  type="submit" value="submit"/>
                </div>
              </form>
              {% endif %}

            </div><!-- end: card body -->
          </div><!-- end: card -->

          <div class="card mt-4">
            <h5 class="card-header">Helpful links</h5>
            <div class="card-body">

              <ul>
                <li><a href="javascript:var myParam = location;window.location = '{{ SITE_SCHEME }}://{{ SWAGGER_HOST }}/preprocess/dataverse-form?dv_file_url=' + myParam;">Scriptlet for Dataverse file pages</a>
                    <br />(drag into your browser toolbar)
                </li>

                {% for rd in active_dvs %}
                  <li>View <a href="{{ rd.get_potential_file_url }}" target="_blank">{{ rd.name }}</a> files</li>
                {% endfor %}

              </ul>
            </div><!-- end: card body -->
          </div><!-- end: card -->
        </div><!-- end: column -->

        <div class="col-sm-6">
          <div class="card">
            <h5 class="card-header">by Dataverse and File Id</h5>
            <div class="card-body">
              <p>Please choose a Dataverse and enter a Datafle Id</p>
              <p>Example, choose "dataverse.harvard.edu" and enter 3085021.


              {% if active_dvs %}
              <form action="{% url 'view_dataverse_file_form' %}" method="post">
                  {% csrf_token %}

                <div class="form-group">
                    {{ form_by_id.as_p }}
                </div>
                <div class="text-right">
                  <input class="btn btn-primary btn-sm"  type="submit" value="submit"/>
                </div>

              </form>
              {% endif %}

              </div><!-- end: card body -->
            </div><!-- end: card -->
          </div><!-- end: column -->

  </div>
</div>


{% endblock %}
