{% extends 'base.html' %}
{#% load render_bundle from webpack_loader %#}
{% load static %}


{% block extra_css %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="{% static "pkgs/bootstrap/3.3.7/css/bootstrap.min.css" %}">

<!-- Optional theme -->
<link rel="stylesheet" href="{% static "pkgs/bootstrap/3.3.7/css/bootstrap-theme.min.css" %}">

  {#{ block.super }#}
  {% render_bundle 'main' 'css' %}
{% endblock %}

{% block extra_js %}
<!-- jquery 2.1.1 --><script src="{% static "js/jquery/jquery.min.js" %}"></script>
<script src="{% static "pkgs/bootstrap/3.3.7/js/bootstrap.min.js" %}"></script>
{% endblock %}

{% block nav_content %}
<!-- empty -->
{% endblock %}

{% block main_content %}
{% comment %}
<hr />
<ol>
  <li><b>In template:</b> Text directly in "datamart-test.html" template.</li>
  <li><b>From server:</b> {{ VAR_FROM_DJANGO_SERVER }}</li>
  <li><b>From mithril:</b> <span id="mithrilRoot"></span></li>
</ol>
{% endcomment %}
<div id="mithrilRoot"></div>
{% render_bundle 'main' 'js' %}

<!-- end block -->
{% endblock %}
